<!DOCTYPE html>
<html>

<head>
    <style>
        /* Loading Spinner */
        .spinner{margin:0;width:70px;height:18px;margin:-35px 0 0 -9px;position:absolute;top:50%;left:50%;text-align:center}.spinner > div{width:18px;height:18px;background-color:#333;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.spinner .bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.spinner .bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@-webkit-keyframes bouncedelay{0%,80%,100%{-webkit-transform:scale(0.0)}40%{-webkit-transform:scale(1.0)}}@keyframes bouncedelay{0%,80%,100%{transform:scale(0.0);-webkit-transform:scale(0.0)}40%{transform:scale(1.0);-webkit-transform:scale(1.0)}}
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <title>Juncheng Tang Personal Website</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/partners.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--<link href="http://fonts.useso.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.js"></script>
        <script src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->







<link rel="stylesheet" type="text/css" href="assets/helpers/animate.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/backgrounds.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/boilerplate.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/border-radius.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/grid.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/page-transitions.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/spacing.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/typography.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/utils.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/colors.css">

<!-- ELEMENTS -->

<link rel="stylesheet" type="text/css" href="assets/elements/badges.css">
<link rel="stylesheet" type="text/css" href="assets/elements/buttons.css">
<link rel="stylesheet" type="text/css" href="assets/elements/content-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/dashboard-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/forms.css">
<link rel="stylesheet" type="text/css" href="assets/elements/images.css">
<link rel="stylesheet" type="text/css" href="assets/elements/info-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/invoice.css">
<link rel="stylesheet" type="text/css" href="assets/elements/loading-indicators.css">
<link rel="stylesheet" type="text/css" href="assets/elements/menus.css">
<link rel="stylesheet" type="text/css" href="assets/elements/panel-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/response-messages.css">
<link rel="stylesheet" type="text/css" href="assets/elements/responsive-tables.css">
<link rel="stylesheet" type="text/css" href="assets/elements/ribbon.css">
<link rel="stylesheet" type="text/css" href="assets/elements/social-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/tables.css">
<link rel="stylesheet" type="text/css" href="assets/elements/tile-box.css">
<link rel="stylesheet" type="text/css" href="assets/elements/timeline.css">

<!-- FRONTEND ELEMENTS -->

<link rel="stylesheet" type="text/css" href="assets/frontend-elements/blog.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/cta-box.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/feature-box.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/footer.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/hero-box.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/icon-box.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/portfolio-navigation.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/pricing-table.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/sliders.css">
<link rel="stylesheet" type="text/css" href="assets/frontend-elements/testimonial-box.css">

<!-- ICONS -->

<link rel="stylesheet" type="text/css" href="assets/icons/fontawesome/fontawesome.css">
<link rel="stylesheet" type="text/css" href="assets/icons/linecons/linecons.css">
<link rel="stylesheet" type="text/css" href="assets/icons/spinnericon/spinnericon.css">

<!-- WIDGETS -->

<link rel="stylesheet" type="text/css" href="assets/widgets/accordion-ui/accordion.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/calendar/calendar.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/carousel/carousel.css">

<link rel="stylesheet" type="text/css" href="assets/widgets/charts/justgage/justgage.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/charts/morris/morris.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/charts/piegage/piegage.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/charts/xcharts/xcharts.css">

<link rel="stylesheet" type="text/css" href="assets/widgets/chosen/chosen.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/colorpicker/colorpicker.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/datatable/datatable.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/datepicker/datepicker.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/datepicker-ui/datepicker.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/dialog/dialog.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/dropdown/dropdown.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/dropzone/dropzone.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/file-input/fileinput.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/input-switch/inputswitch.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/input-switch/inputswitch-alt.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/ionrangeslider/ionrangeslider.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/jcrop/jcrop.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/jgrowl-notifications/jgrowl.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/loading-bar/loadingbar.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/maps/vector-maps/vectormaps.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/markdown/markdown.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/modal/modal.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/multi-select/multiselect.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/multi-upload/fileupload.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/nestable/nestable.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/noty-notifications/noty.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/popover/popover.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/pretty-photo/prettyphoto.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/progressbar/progressbar.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/range-slider/rangeslider.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/slider-ui/slider.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/tabs-ui/tabs.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/theme-switcher/themeswitcher.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/timepicker/timepicker.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/tocify/tocify.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/tooltip/tooltip.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/touchspin/touchspin.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/uniform/uniform.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/wizard/wizard.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/xeditable/xeditable.css">

<!-- FRONTEND WIDGETS -->

<link rel="stylesheet" type="text/css" href="assets/widgets/layerslider/layerslider.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/owlcarousel/owlcarousel.css">
<link rel="stylesheet" type="text/css" href="assets/widgets/fullpage/fullpage.css">

<!-- SNIPPETS -->

<link rel="stylesheet" type="text/css" href="assets/snippets/chat.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/files-box.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/login-box.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/notification-box.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/progress-box.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/todo.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/user-profile.css">
<link rel="stylesheet" type="text/css" href="assets/snippets/mobile-navigation.css">

<!-- Frontend theme -->

<link rel="stylesheet" type="text/css" href="assets/themes/frontend/layout.css">
<link rel="stylesheet" type="text/css" href="assets/themes/frontend/color-schemes/default.css">

<!-- Components theme -->

<link rel="stylesheet" type="text/css" href="assets/themes/components/default.css">
<link rel="stylesheet" type="text/css" href="assets/themes/components/border-radius.css">

<!-- Frontend responsive -->

<link rel="stylesheet" type="text/css" href="assets/helpers/responsive-elements.css">
<link rel="stylesheet" type="text/css" href="assets/helpers/frontend-responsive.css">


    <!-- JS Core -->

    <script type="text/javascript" src="assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-2.1.2.min.js"></script>
    <script type="text/javascript" src="assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="assets/js-core/jquery-ui-mouse.js"></script>
    <script type="text/javascript" src="assets/js-core/jquery-ui-position.js"></script>
    <script type="text/javascript" src="assets/js-core/transition.js"></script>
    <script type="text/javascript" src="assets/js-core/modernizr.js"></script>
    <script type="text/javascript" src="assets/js-core/jquery-cookie.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="assets/widgets/charts/sparklines/sparklines.js"></script>
    <script type="text/javascript" src="assets/widgets/charts/sparklines/sparklines-demo.js"></script>



<script type="text/javascript" src="assets/js-core/jquery-core.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        setTimeout(function() {
            $('#loading').fadeOut( 400, "linear" );
        }, 300);
    });
</script>


</head>

<div id="page-wrapper">
<div class="main-header header-fixed font-inverse header-resizable wow bounceInDown" style="background:white ;border-bottom:solid black 1px">
    <div class="container" >

        <a class="logo" href="index.html#home"><img src="img/logo1.png" style="height:60px"></a>

        <div class="right-header-btn">
            <div id="mobile-navigation">
                <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target=".header-nav"><span></span></button>
            </div>
            
        </div><!-- .header-logo -->
        <ul  class="header-nav collapse">
            <li>
                <a href="index.html" style="color:black;font-size:15px" title="Index">
                    Index
                </a>
            </li>
            <li>
                <a href="resume.html" style="color:black;font-size:15px" title="My Resume">
                    My Resume
                </a>
            </li>
            <li class="sf-mega">
                <a href="#" style="color:black;font-size:15px" title="Photo Gallery">
                    Photo Gallery
                </a>
            </li>
            <li>
                <a href="#" style="color:black;font-size:15px" title="About Myself">
                    About Myself
                </a>
                
            </li>
        </ul><!-- .header-nav -->
    </div><!-- .container -->
</div><!-- .main-header -->



<!-- Navigation -->


<body ng-app="myResumeApp" ng-controller="personCtrl">
    <div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    My Resume
                </h3>
                <div class="example-box-wrapper">
                    <ul class="list-group row list-group-icons">
                        <li class="col-md-3">
                            <a href="#" ng-click="toggle()" class="list-group-item" ng-class="{'active' : resumePanel1}">
                                <i class="glyph-icon icon-briefcase"></i>
                                Work Experience
                            </a>
                        </li>
                        <li class="col-md-3">
                            <a href="#" ng-click="toggle1()" class="list-group-item" ng-class="{'active' : resumePanel2}">
                                <i class="glyph-icon font-red icon-bullhorn"></i>
                                Leadership Experiences
                            </a>
                        </li>
                        <li class="col-md-3">
                            <a href="#" ng-click="toggle2()" class="list-group-item" ng-class="{'active' : resumePanel3}">
                                <i class="glyph-icon font-primary icon-code"></i>
                                Skills and Special Experiences
                            </a>
                        </li>
                        <li class="col-md-3">
                            <a href="#" ng-click="toggle3()" class="list-group-item" ng-class="{'active' : resumePanel4}">
                                <i class="glyph-icon font-blue-alt icon-desktop"></i>
                                Project Demos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    
    <div class= "container features-tour-box" style="margin:0">
        <div ng-show="resumePanel1">
            <div class="content-section-b" style="width:108%">
                    <div class="row">
                        <div class="col-lg-4 col-lg-push-1 col-sm-6">
                            <div class="clearfix"></div>
                            <br/>
                            <br/>
                            <br/>
                            <h2 class="section-heading" style="font-weight: 700; font-size:35px; font-family: inherit;">Shanghai Cloudchef Information Technology co. </h2>
                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Internship: Front-end developer</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Built static company website with Bootstrap and AngularJS</li>
                                    <li>Created and modified CSS files</li>
                                    <li>Tested and Debugged project front-end Html and JavaScript</li>
                                    <li>Set up and Integrated Gerrit with Jenkins and Gitlab</li>
                                    <li>Learnt basic concepts of automation deployment of virtual machines</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" style="max-height:350px; padding-top:20px" src="img/cloudchef.png" alt="">
                        </div>
                    </div>
            </div>
            <div class="content-section-a" style="width:108%">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                            <img class="img-responsive"  style="max-height:350px; padding-top:20px" src="img/Purdue.jpg" alt="">
                        </div>
                        <div class="col-lg-5 col-lg-push-1 col-sm-6">
                            <div class="clearfix"></div>
                            <br/>
                            <br/>
                            <br/>
                            <h2 class="section-heading" style="font-weight: 700; font-size:35px; font-family: inherit;">Purdue University Ford Dining court  </h2>
                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Student Associate</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Assisted chefs in preparing for ingredients</li>
                                    <li>Assisted chefs in making Pho</li>                                    
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="content-section-b" style="width:108%">
                    <div class="row">
                        <div class="col-lg-4 col-lg-push-1 col-sm-6">
                            <div class="clearfix"></div>
                            <br/>
                            <br/>
                            <br/>
                            <h2 class="section-heading" style="font-weight: 700; font-size:35px; font-family: inherit;">Purdue Bilingual Career Fair </h2>
                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Officer/ Coordinator</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Collected and created database of all international students</li>
                                    <li>Published recruitment information for international students</li>
                                    <li>Decorated the career fair</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" style="max-height:350px; padding-top:20px" src="img/pucssa.png" alt="">
                        </div>
                    </div>
            </div>

            <div class="content-section-a" style="width:108%">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                            <img class="img-responsive"  style="max-height:350px; padding-top:20px" src="img/hta.jpeg" alt="">
                        </div>
                        <div class="col-lg-5 col-lg-push-1 col-sm-6">
                            <div class="clearfix"></div>
                            <br/>
                            <br/>
                            <br/>
                            <h2 class="section-heading" style="font-weight: 700; font-size:35px; font-family: inherit;">
                                Hack the Anvils</h2>
                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Team member</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Designed User Interface of mobile application</li>
                                    <li>Tested mobile application</li>
                                    <li>Built Android application</li>                           
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        <div ng-show="resumePanel2">
            <div class="content-section-b" style="width:108%">
                    <div class="row">
                        <div class="col-lg-4 col-lg-push-1 col-sm-6">
                            <div class="clearfix"></div>
                            <br/>
                            <br/>
                            <br/>
                            <h2 class="section-heading" style="font-weight: 700; font-size:35px; font-family: inherit;">Purdue Bang</h2>
                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Leader of Social Media department</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Wrote promotion articles on campus events</li>
                                    <li>Organized Conferences on article topics</li>
                                    <li>Interviewed university faculties</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                            <img class="img-responsive" style="max-height:350px; max-width:350px; padding-top:20px" src="img/pdb.jpg" alt="">
                        </div>
                    </div>
            </div>
            <div class="content-section-a" style="width:108%">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                            <img class="img-responsive"  style="max-height:350px; padding-top:20px" src="img/pucssa.png" alt="">
                            <br>
                            <br>
                            <br>
                            <img class="img-responsive"  style="max-height:350px; padding-top:20px" src="img/prom.png" alt="">
                        </div>
                        <div class="col-lg-5 col-lg-push-1 col-sm-6">
                            <div class="clearfix"></div>
                            <br/>
                            <br/>
                            <br/>
                            <h2 class="section-heading" style="font-weight: 700; font-size:35px; font-family: inherit;">Purdue University Chinese Student and Scholar Association  </h2>
                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Assistant of Career Development and Alumni department</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Collected information about local and international companies of career fairs</li>
                                    <li>Organized team members to gather on-campus job information</li>
                                    <li>Published articles of on-campus jobs on social media</li>
                                    <li>Interviewed successful Chinese alumni</li>                                    
                                </ul>
                            </div>

                            <h4 class="section-subheading" style="font-size: 20px;
  color: #1B497C;font-weight:700; font-family: inherit;">Director of PUCSSA Graduation Prom</h4>
                            <div class="lead" style="color:black">
                                <ul>
                                    <li>Calculated total budget of the Graduation Prom</li>
                                    <li>Made reservations of space, food and wine</li>
                                    <li>Organized team members to design prom activities</li>
                                    <li>Published promotion articles and summary articles</li>
                                </ul>
                            </div>


                        </div>
                        
                    </div>
                </div>
            </div>
            
            
        </div>
        <div ng-show="resumePanel3">
            <div class="panel-layout" style="width:108%">
                <div class="panel-box">
                    <div class="panel-content pad0A bg-white">
                        <div class="meta-box meta-box-offset">
                            <img src="img/tang.jpg" alt="" class="meta-image img-bordered img-circle" style="height:60px">
                            <h3 class="meta-heading font-size-16">Juncheng Tang</h3>
                            <h4 class="meta-subheading font-size-13 font-gray">Programming Skills</h4>
                        </div>
                        <table class="table mrg0B mrg10T">
                            <tbody>
                            <tr>
                                <td class="text-left">
                                    <b>CSS</b>
                                </td>
                                <td style="width: 50%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                </div>
                            </div>
                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>HTML</b>
                                </td>
                                <td style="width: 50%;">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                </div>
                            </div>
                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>C/C++</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                    </div>
                                    </div>                    
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="text-left">
                                    <b>JavaScript</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        </div>
                                    </div>                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>AngularJS</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    </div>
                                    </div>                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>Java</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    </div>
                                    </div>                    
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="text-left">
                                    <b>Android/Android Studio</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                    </div>
                                    </div>                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>Python</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    </div>
                                    </div>                    
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>JQuery</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>NodeJS</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>IOS</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    <b>SQL</b>
                                </td>
                                <td style="width: 50%;">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h3 class="p-title wow lightSpeedIn" style="width:108%" data-wow-delay="0s"> 
                <span>Special Experiences</span>
            </h3>
            <div class="content-section-a" style="width:108%">
                <div class="container">
                    <div class="lead" style="color:black">
                        <ul>
                            <li>Exchange student in Germany</li>
                            <li>Passed Society of Actuaries Exam Probability</li>
                        </ul>
                    </div>
                </div>
            </div>



        </div>
        <link rel="stylesheet" type="text/css" href="assets/widgets/owlcarousel/owlcarousel.css">
        <script type="text/javascript" src="assets/widgets/owlcarousel/owlcarousel.js"></script>
        <script type="text/javascript" src="assets/widgets/owlcarousel/owlcarousel-demo.js"></script>

        <div class="panel" style="width:110%">
<div class="panel-body">
<div>
<h3 class="title-hero">
    Sample Projects
</h3>
<div class="example-box-wrapper">

    <div class="owl-carousel-1 slider-wrapper carousel-wrapper">
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="http://yakume.xyz" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                YAKUME
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="assets/image-resources/stock-images/img-1.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="http://cloudchef.io" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated rollIn">
                                CloudChef
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="assets/image-resources/stock-images/img-2.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated fadeInDown">
                                Sunrays flowers
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="assets/image-resources/stock-images/img-3.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated flipInX">
                                Seeing a DJs work
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue"></div>
                <img src="assets/image-resources/stock-images/img-4.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated bounceInDown">
                                <a href="#" class="btn btn-md btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                                <a href="#" class="btn btn-md btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="assets/image-resources/stock-images/img-5.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated zoomIn">
                                <a href="#" class="btn btn-lg btn-round btn-success" title=""><i class="glyph-icon icon-check"></i></a>
                                <a href="#" class="btn btn-lg btn-round btn-danger" title=""><i class="glyph-icon icon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-gray"></div>
                <img src="assets/image-resources/stock-images/img-6.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated rotateIn">
                                <a href="#" class="btn btn-lg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="assets/image-resources/stock-images/img-7.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="thumb-btn animated bounceIn">
                                <a href="#" class="btn btn-xlg btn-round btn-primary" title=""><i class="glyph-icon icon-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="assets/image-resources/stock-images/img-8.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-br animated bounceInDown bg-danger glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="assets/image-resources/stock-images/img-9.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated pulse font-white glyph-icon icon-linecons-search"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-tr animated rotateIn bg-green glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-danger"></div>
                <img src="assets/image-resources/stock-images/img-10.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated swing font-white glyph-icon icon-linecons-location"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-bl animated zoomIn bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-azure"></div>
                <img src="assets/image-resources/stock-images/img-11.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                    <i class="icon-helper icon-tl animated fadeIn bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="assets/image-resources/stock-images/img-12.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated bounceIn">
                                Cookie monsters
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-black"></div>
                <img src="assets/image-resources/stock-images/img-13.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated zoomInUp font-white glyph-icon icon-linecons-music"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-primary"></div>
                <img src="assets/image-resources/stock-images/img-14.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <h3 class="thumb-heading animated rollIn">
                                Tables at work
                                <small>12 March 2015</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-orange"></div>
                <img src="assets/image-resources/stock-images/img-15.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="assets/image-resources/stock-images/img-16.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="assets/image-resources/stock-images/img-21.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="thumbnail-box thumbnail-box-inverse">
                <a class="thumb-link" href="#" title=""></a>
                <div class="thumb-content">
                    <div class="center-vertical">
                        <div class="center-content">
                            <i class="icon-helper icon-center animated rotateIn font-white glyph-icon icon-linecons-camera"></i>
                        </div>
                    </div>
                </div>
                <div class="thumb-overlay bg-blue-alt"></div>
                <img src="assets/image-resources/stock-images/img-22.jpg" alt="">
            </div>
        </div>

    </div>
</div>
</div>
</div>
</div>


    </div>

    <div class="cta-box-btn bg-yellow">
            <div class="container">
                <a href="resume/myresume.pdf" class="btn btn-info" title="">
                    <h1>Download my resume</h1>
                </a>
            </div>
        </div>
        <br>
        <br>

  

<div class="main-footer bg-gradient-4 clearfix">
    <div class="container clearfix">
             <div class="col-lg-5 col-sm-6 col-xs-12">

            <i class="glyph-icon tooltip-button demo-icon-1 icon-wechat font-white" title="wechat" ng-mouseover="wechattoggle()" ng-mouseleave="wechatleave()"></i>
            <a href="http://weibo.com/u/2234862987?profile_ftype=1&is_all=1#_0"><i class="glyph-icon tooltip-button demo-icon-1 icon-weibo font-white" title="weibo">
                </i></a>
            <a href="https://www.linkedin.com/in/juncheng-tang-957134a3?trk=nav_responsive_tab_profile_pic"><i class="glyph-icon tooltip-button demo-icon-1 icon-linkedin font-white" title="linkedin"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100004285692675"><i class="glyph-icon tooltip-button demo-icon-1 icon-facebook font-white" title="facebook"></i></a>
            <a href="https://twitter.com/juncheng_tang"><i class="glyph-icon tooltip-button demo-icon-1 icon-twitter font-white" title="twitter"></i></a>


            <img ng-show="wechat" style="height:150px" src="img/erweima.png"></img>




            </div>
            
        
        <div class="col-lg-5 col-lg-offset-2 col-md-5 col-sm-6 col-xs-12 col-xs-push-1">
                        <ul>
                            </br>
                            <li>
                                <p class="ptitle">Email: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);" href="mailto:tang184@purdue.edu" target="_top">tang184@purdue.edu</a></p>
                            </li>
                            <div class="divider"></div>
                            <li>
                                <p class="ptitle">Phone: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);"> 765-838-9531</a>
                                </p>
                            </li>
                            <div class="divider"></div>
                            <li>
                                <p class="ptitle">Address: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);">210 West Wood Street Apartment 4</a></p>
                            </li>
                            <div class="divider"></div>
                            <li>
                                <p class="ptitle">Zip Code: <a target="_blank" style="color:rgba(255, 255, 255, 0.80);">47906-3901</a></p>
                            </li>
                            <div class="divider"></div>
                        </ul>
                        </ul>
                    </div>
    </div>
    <div class="footer-pane">
        <div class="container clearfix">
            <div class="col-lg-push-1 col-lg-5 col-md-push-1 col-sm-6 col-sm-push-1 col-xs-12 col-xs-push-2">
            <div class="logo">Written and maintained by Juncheng Tang</div>
        </div>
        <div class="col-lg-5 col-lg-push-1 col-lg-offset-2 col-md-5 col-md-push-0 col-sm-6 col-xs-12 col-xs-push-2 footer-nav-bottom">
                <a href="index.html" title="Index">Index</a>
                <a href="resume.html" title="My Resume">My Resume</a>
                <a href="prices" title="Photo Gallery">Photo Gallery</a>
                <a href="jobs" title="About Myself">About Myself</a>
            </div>
        </div>
    </div>
</div>

</div>



    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/landing-page.js"></script>

    <script type="text/javascript" src="js/wow.js"></script>

    <!-- Owl carousel -->

<script type="text/javascript" src="assets/widgets/owlcarousel/owlcarousel.js"></script>
<script type="text/javascript" src="assets/widgets/owlcarousel/owlcarousel-demo.js"></script>


<script type="text/javascript" src="assets/themes/frontend/layout.js"></script>




<script type="text/javascript">
var app = angular.module('myResumeApp', []);
app.controller('personCtrl', function($scope) {
    
    $scope.resumePanel1 = true;
    $scope.resumePanel2 = false;
    $scope.resumePanel3 = false;
    $scope.resumePanel4 = false;

    $scope.wechat = false;

    $scope.wechattoggle = function() {
        $scope.wechat = true;
    };

    $scope.wechatleave = function() {
        $scope.wechat = false;
    };


    $scope.toggle = function() {
        $scope.resumePanel1 = true;
        $scope.resumePanel2 = false;
        $scope.resumePanel3 = false;
        $scope.resumePanel4 = false;
    };

    $scope.toggle1 = function() {
        $scope.resumePanel1 = false;
        $scope.resumePanel2 = true;
        $scope.resumePanel3 = false;
        $scope.resumePanel4 = false;
    };

    $scope.toggle2 = function() {
        $scope.resumePanel1 = false;
        $scope.resumePanel2 = false;
        $scope.resumePanel3 = true;
        $scope.resumePanel4 = false;
    };

    $scope.toggle3 = function() {
        $scope.resumePanel1 = false;
        $scope.resumePanel2 = false;
        $scope.resumePanel3 = false;
        $scope.resumePanel4 = true;
    };
    
});
</script>




</body>


<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>

<!-- Bootstrap Dropdown -->

<!-- <script type="text/javascript" src="assets/widgets/dropdown/dropdown.js"></script> -->

<!-- Bootstrap Tooltip -->

<!-- <script type="text/javascript" src="assets/widgets/tooltip/tooltip.js"></script> -->

<!-- Bootstrap Popover -->

<!-- <script type="text/javascript" src="assets/widgets/popover/popover.js"></script> -->

<!-- Bootstrap Progress Bar -->

<script type="text/javascript" src="assets/widgets/progressbar/progressbar.js"></script>

<!-- Bootstrap Buttons -->

<!-- <script type="text/javascript" src="assets/widgets/button/button.js"></script> -->

<!-- Bootstrap Collapse -->

<!-- <script type="text/javascript" src="assets/widgets/collapse/collapse.js"></script> -->

<!-- Superclick -->

<script type="text/javascript" src="assets/widgets/superclick/superclick.js"></script>

<!-- Input switch alternate -->

<script type="text/javascript" src="assets/widgets/input-switch/inputswitch-alt.js"></script>

<!-- Slim scroll -->

<script type="text/javascript" src="assets/widgets/slimscroll/slimscroll.js"></script>

<!-- Slidebars -->

<script type="text/javascript" src="assets/widgets/slidebars/slidebars.js"></script>
<script type="text/javascript" src="assets/widgets/slidebars/slidebars-demo.js"></script>

<!-- PieGage -->

<script type="text/javascript" src="assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="assets/widgets/charts/piegage/piegage-demo.js"></script>

<!-- Screenfull -->

<script type="text/javascript" src="assets/widgets/screenfull/screenfull.js"></script>

<!-- Content box -->

<script type="text/javascript" src="assets/widgets/content-box/contentbox.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="assets/widgets/overlay/overlay.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="assets/js-init/widgets-init.js"></script>

<!-- Theme layout -->

<script type="text/javascript" src="assets/themes/admin/layout.js"></script>

<!-- Theme switcher -->

<script type="text/javascript" src="assets/widgets/theme-switcher/themeswitcher.js"></script>




</html>
